.main{ 
 width: 1200px;
height: 600px;
border-bottom: 0px solid black;
margin: 5%;

}
.main td{
    border-bottom: 1px solid black;
    padding: 0px 20px;
    
    
   
}
.left_column{
    width: 400px;
    border-radius: 20px;
    border-bottom: 1px solid black;
    background-color: wheat;
   
}
.right_column{
    width: 800px;
    background-color: thistle;
   border-radius: 20px;
}

.inner_table{
    width: 100%;
    height: 100%;
    border: snow 2px rgb(255, 255, 255);
    border-spacing: 0%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px rgb(0, 0,0,0.2);
    margin-right: 10px;

}
.inner_table td{
    border-bottom: solid 1px rgb(0, 0,0,);
    border-spacing: 7px 11px;
    height: 150px;
   
}
img{
    width: 220px;
    height: 150px;
    border: nones;
}
.center-pic{
    display: block;
    margin: auto;
    padding-top: 2px;
}
.h1{
    color: black;
    text-align: center;
    height: 110;
}
.div1{
    
    line-height: 1px;
    text-align: center;
    height: 9px;   
}
.div2{
    line-height: 1px;
    text-align: center;
    height: 9px; 
}
.div3{
    line-height: 1px;
    text-align: center;
    height: 9px; 
}
.h13{
    color: black;
    text-align: center;
    height: 110;
}
h1{
    color: black;
    text-align: left;
    height: 110;
}
.div13{
    line-height: 1px;
    text-align: left;
    height: 9px; 
}
.div5{
    line-height: 1px;
    text-align: left;
    height: 9px; 
}
.div10{
    line-height: 1px;
}
.h11{
    text-align: center;
}